<div class="user-detail">
  <form method="POST" action="/category/addCategoryDetails/<%= editData.CategoryId%>" >
    <div class="input-card">
      <div class="input-box">
        <label>Category Name</label>
        <input type="text" placeholder="Category Name" name="CategoryName" required value="<%= editData.CategoryName%>">
      </div>
    <div class="input-box">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-primary" onclick="category()">Back</button>

    </div>
  </div>
  </form>
</div>
<script>
  function category()
{
    return window.location.href = 'http://localhost:3000/category';
}
</script>
<style>
  .input-card {
      max-width: 400px;
      margin: 30px auto;
      padding: 20px;
      border: 1px solid #dfdede;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 lightgray;
  }
   .input-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
  }
  .input-box input {
    width: 50%;
      border: 1px solid #e3e3e3;
      outline: none;
      padding: 5px;
      border-radius: 5px;
  }
  .input-box label {
      width: 50%;
      display: flex;
      align-items: center;
  }
  .input-box button.btn {
    margin: 20px auto 0;
      min-width: 200px;
      border-radius: 7px;
      background-color: #006698;
      border: 1px solid transparent;
      outline: none;
      color: #FFF;
      font-weight: 600;
      font-size: 17px;
      padding: 7px 15px;
      box-shadow: 0 0 5px 0 lightgray;
      transition: 0.3s all ease-in-out;
  }
  .input-box button.btn:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid grey;
  }
  </style> 
 